<style>
    body {
        margin: 0;
    }

    .hero {
        height: 100vh;
        overflow: hidden;
        position: relative;
    }

    .hero img {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }

    .hero-overlay {
        bottom: 60px;
    }
</style>

<!-- FIRST IMAGE -->
<div class="hero w-100">

    <img src="https://representclothes.vercel.app/assets/retail-1.webp" />

    <div class="hero-overlay position-absolute start-50 translate-middle-x text-center text-white">

        <p class="mb-2">EXPLORE COLLECTIONS</p>

        <h2 class="fw-bold mb-4">LONDON</h2>
        <h2 class="fw-bold mb-4">MANCHESTER</h2>
        <h2 class="fw-bold mb-4">LOS ANGELES</h2>

    </div>
</div>

<!-- SECOND IMAGE -->
<div class="hero w-100">
    <img src="https://representclothes.vercel.app/assets/retail-2.webp" />
</div>

<!-- THIRD IMAGE -->
<div class="hero w-100">
    <img src="https://representclothes.vercel.app/assets/retail-3.webp" />
</div>